body {
    background-color: #FFF;
}

.btn {
    display: flex;
    align-items: center;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
    justify-content: center;
    width: 450px;
    height: 60px;
}

.btn--big {
    width: 100%;
    margin-top: 100px;
}

.center {
    width: 680px;
    margin: 0 auto;
    padding: 50px 0;
}

.page__title {
    font-size: 36px;
    text-align: center;
}

.login__name {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: 70px 0 0px 0;
}

.entry__name {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: 70px 0 0px 0;
}

.entry__email,
.entry__password {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: 30px 0 0px 0;
}

.login__input {
    width: 100%;
    height: 60px;
    padding: 5px;
    font-size: 150%;
}

.entry__input {
    width: 100%;
    height: 45px;
    padding: 5px;
    font-size: 150%;
}

.link {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #0073CC;
    font-size: 20px;
}