* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: #F0EFF2;
}

img {
    width: 100%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

a {
    text-decoration: none;
}

header {
    align-items: center;
    background-color: #000;
    color: #fff;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    height: 80px;
    padding: 0 0 0 25px;
    position: sticky;
    z-index: var(--mer-z-index-navigation-top);
    top: 0px;
}

.header__logo {
    width: 370px;
    height: fit-content;
    vertical-align: middle;
}

.header__nav {
    display: flex;
}

.header__nav ul {
    display: flex;
    align-items: center;
}

.header__nav li {
    margin-right: 55px;
}

.header__nav li a {
    color: #fff;
    font-weight: bold;
}

.header__logout {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.container {
    margin: 0 auto;
    padding: 120px 300px;
}

.form__error {
    color: #ff333f;
    margin-top: 8px;
}
