.detail-card {
    background-color: white;
    border-radius: 10px;
    padding: 0;
    margin-bottom: 50px;
}

.detail-row {
    display: flex;
    align-items: center;
    padding: 20px 70px;
    border-bottom: 2px solid #E1E1E1;
}

.detail-row:last-child {
    border-bottom: none;
}

.label {
    width: 30%;
    font-size: 16px;
    color: #737373;
    font-weight: bold;
    letter-spacing: 0.15em;
}

.value {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    gap: 50px;
    width: 100%;
}

.date-group {
    display: flex;
    padding-left: 10px;
    gap: 150px;
}

.time-range {
    display: flex;
    align-items: center;
    gap: 50px;
}

.time-range input {
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.15em;
    width: 103px;
    text-align: center;
    padding: 8px;
    border: 1px solid;
    border-color: #E1E1E1;
}

.value textarea {
    border-radius: 4px;
    font-size: 16px;
    width: 325px;
    height: 72px;
    text-align: left;
    padding: 8px;
    border: 1px solid;
    border-color: #D9D9D9;
    resize: none;
}

.pending-message {
    font-size: 18px;
    letter-spacing: 0.15em;
    font-weight:bold;
    color: rgba(255, 0, 0, 0.5);
}
